{%extends 'app/main.html'%} {% block title %}{% endblock %} {%block content%}
<div class="header">
  <div>
    <h1>Hello {{request.user|title}}</h1>

    {%if request.user.is_authenticated%}

    <a href="{% url 'logout' %}">Logout &#10162;</a>

    {%else%}

    <a href="{% url 'login' %}">Login</a>
    {%endif%}
  </div>
</div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
          <div class="card">
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="form-body">
                <label>Description</label>
                <input
                  required
                  name="description"
                  type="text"
                  value="{{Photo.description}}"
                  placeholder="Enter a description"
                  class="form-control"
                />
              </div>

              <div class="form-body">
                <label>Select a category</label>
                <select name="category" class="form-control">
                  <option value="{{Photo.category}}">Select a category...</option>

                  {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-body">
                <label>Create a new category</label>
                <input
                  name="category_new"
                  type="text"
                  value="{{Photo.category}}"
                  placeholder="Create a new category"
                  class="form-control"
                />
              </div>

              <div class="form-body">
                {% if photo.image %}
                <img src="{{ photo.image.url }}" alt="image here">
                {% endif %}
                <label>Upload image</label>
                <input
                  required
                  name="images"
                  type="file"
                  multiple
                  class="form-control-file"
                />
              </div>

              <button type="submit" class="btn btn-warning m-3">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
